{% extends 'base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

<div class='logo-container'>
  <h1 id='logo-text'>JotDown_</h1>
  <img src="{% static 'images/pencil.svg' %}" alt="A picture of a pencil" />
</div>

<div class="header-bar">
    <h1>Login</h1>
</div>
{% if not user.is_authenticated %}
<div class='card-body'>
  <form action="{% url 'home' %}" method="post" class="login">
  <div class='content-container'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="button">Login</button>
  </form>
  </div>
</div>
{% endif %}

{% endblock %}