{% extends 'base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

<div class="header-bar">
    <h1>Sign Up</h1>
</div>

{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}

<div class="card-body">
    <form method="POST">
      <div class='content-container'>
      {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}

        <label>{{form.password2.label}}</label>
        {{form.password2}}

        <input class="button btn btn-sm btn-outline-dark" type="submit" value="Register">
    </form>
    <br>
    <p class='login-text'>Already have an account? <a href="{% url 'home' %}">Login</a></p>
      </div>

</div>

{% endblock %}