{% extends 'base.html'%}

{% block content %}

<section class="section"> 
  <h1>{{ jot.title }}</h1>
</section>
<br>
<br>

<h4>Additional Jots</h4>
<form action="{% url 'subjot_create' jot.id %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3 shadow bg-white">
            {{ subjot_form.title }}
            <div class="input-group-append">
                <button class="btn btn-success" type="submit" id="button-addon2">Jot Down!</button>
            </div>
        </div>
    </form>


{% if not jot.subjots.all %}
      <h3>You have no additional subjots</h3>
    {% else %}
<section class="section"> 
        <table class="table is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Task</th>
                <th>Completed</th>
                <th>Delete</th>
            </tr>
            </thead>
            {% for subjot in jot.subjots.all %}
                <tr>
                <a href="{% url 'subjot_create' jot.id %}"></a>
                    <td>
                        {% if subjot.complete == True %}
                            <span style="text-decoration: line-through">{{ subjot.title }}</span>
                        {% else %}
                            {{ subjot.title }}
                        {% endif %}
                    </td>
                    <td>
                        {% if subjot.complete == True %}
                            <i class="far fa-check-circle"></i> {{ subjot.complete }}
                        {% else %}
                            <i class="far fa-circle"></i> {{ subjot.complete }}
                        {% endif %}
                    </td>
                    <td>
                      <a href=""> 
                        <button><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            {% endfor %}  
        </table>
    </section>
{% endif %}
{% endblock %}