{% extends 'base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<br>
<div class='form-wrapper'>
  <form action="{% url 'jot_create' %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-1">
      {{ form.title }}
      <button class="btn btn-success" type="submit" id="button-addon2">Jot Down!</button>
      <div class="input-group-append">
      </div>
    </div>
  </form>
</div>

<br>
{% if not jots %}
<h2>You have no jots</h2>
{% else %}
<div class="row mt-4">
  <div class="col-9">
    <h2 class="card-title">My Jots</h2>
  </div>
<div class="col-2">
    <a href="{% url 'jot_deletecomplete' %}">
      <button id='removeCompleteBtn' type="button" class="btn btn-sm btn-warning rounded-pill btn-outline-dark">Remove Completed</button>
    </a>
  </div>
  <br>

  {% for jot in jots %}
  <div class="card mt-3 shadow-sm" id='card'>
    <div class="card-body">
      <div class="row">
        <div class="col-11">
          {% if jot.complete %}
          <a href="{% url 'jot_incomplete' jot.id %}"><i id='check-circle' class="far fa-check-circle"></i></a> &nbsp; &nbsp; <i><span style="text-decoration: line-through" ><a class='complete-text' href="{% url 'jots_detail' jot.id %}">{{ jot.title }}</a></span></i>
          {% else %}
          <a href="{% url 'jot_complete' jot.id %}"><i class="far fa-circle"></i></a> &nbsp; &nbsp;<a
            href="{% url 'jots_detail' jot.id %}">{{ jot.title }}</a>
          {% endif %}
        </div>

        <div class="col-1">
          <a href="{% url 'jot_delete' jot.id %}">
            <button class='trash' type="submit"><i class="bi bi-trash"></i></button>
          </a>
        </div>
      </div>
      {% if jot.complete %}
      <p class="card-text"><small class="text-muted">Complete</small></p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
{% endif%}

  {% endblock %}