
{% extends 'base.html'%}

{% block content %}

<form action="" method="post" class="form-container">
  {% csrf_token %}
    {{ form.as_p }} 
    <button type="submit" class="btn btn-primary">Submit!</button>
</form>
<br>
<h5>My Jots</h5>
<br>

<section class="section">
        <table class="table is-hoverable is-fullwidth">
            <thead>
            {% for task in tasks %}
            <tr>
                <th>Task</th>
                <th>Completed</th>
                <th>Delete</th>
            </tr>
            </thead>
                <tr>
                <a href="{% url 'jots_detail' task.id %}"></a>
                    <td>
                        {% if task.complete == True %}
                            <span style="text-decoration: line-through"><a href="{% url 'jots_detail' task.id %}">{{ task.title }}</a></span>
                        {% else %}
                            <a href="{% url 'jots_detail' task.id %}">{{ task.title }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if task.complete == True %}
                            <i class="bi bi-check2-circle"></i> {{ task.complete }}
                        {% else %}
                            <i class="bi bi-circle"></i> {{ task.complete }}
                        {% endif %}
                    </td>
                    <td>
                      <a href="{% url 'jot_delete' task.id %}"> 
                        <button><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            {% endfor %}  
        </table>
    </section>

{% endblock %}

