
{% extends 'base.html'%}

{% block content %}

<form method="POST" action="">
		{% csrf_token %}
		{{ form }}
		<input class="btn btn-info" type="submit" name="Create Task">
	</form>

<h5>My Jots</h5>
<br>
{% for task in tasks %}
<section class="section">
        <table class="table is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Task</th>
                <th>Completed</th>
                <th>Delete</th>
            </tr>
            </thead>
                <tr>
                <a href="{% url 'jots_detail' task.id %}"></a>
                    <td>
                        {% if task.complete == True %}
                            <span style="text-decoration: line-through"><a href="{% url 'jots_detail' task.id %}">{{ task.title }}</a></span>
                        {% else %}
                            <a href="{% url 'jots_detail' task.id %}">{{ task.title }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if task.complete == True %}
                            <i class="bi bi-check2-circle"></i> {{ task.complete }}
                        {% else %}
                            <i class="bi bi-circle"></i> {{ task.complete }}
                        {% endif %}
                    </td>
                    <td>
                        <i class="bi bi-trash"></i>
                    </td>
                </tr>

        </table>
    </section>

{% endfor %}

{% endblock %}

