{% extends 'base.html'%}

{% block content %}

<div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <div class="card border-info mb-3" >
                        <div class="card-header text-center">My To-Do</div>
                            <div class="card-body text-info">
                            
                                    <form action="{% url 'jot_create' %}" method="post">
                                        {% csrf_token %}
                                        <div class="input-group mb-3 shadow bg-white">
                                            {{ form.title }}
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add Jot!</button>
                                            </div>
                                        </div>
                                    </form>

                                <div class="row mt-4">
                                    <div class="col-8">
                                        <h3 class="card-title">My Jots</h3>
                                    </div>
                                    <div class="col-2">
                                        <a href="">
                                            <button type="button" class="btn btn-sm btn-outline-info rounded-pill">Remove Completed</button>
                                        </a>
                                    </div>                     

                                {% for jot in jots %}
                                <div class="card mt-2 shadow-sm">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-10">
                                                <a href="{% url 'jot_complete' jot.id %}">
                                                    {% if jot.completed %}
                                                        <del><h5 class="card-title">{{ jot.title }}</h5><del>
                                                    {% else %}
                                                        <h5 class="card-title">{{ jot.title }}</h5>
                                                    {% endif %}
                                                </a>
                                            </div>                                            
                                            <div class="col-1">
                                                <a href="{% url 'jot_delete' jot.id %}">
                                                    <button type="button" class="close" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </a>
                                            </div>    
                                        <div>                                                
                                      {% if jot.completed %}
                                      <p class="card-text"><small class="text-muted">It'sDone!<small><p>
                                      {% endif %}
                                    </div>
                                  </div>
                                {% endfor %}  
                            </div>
                        </div>
                    </div> 
                </div>
            </div>     
        </div>
        {% endblock %}